#Eclipse.gitignore
*.project
*.settings
*.classpath
*.pydevproject
*.externalToolBuilders
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp

*.swp
*~.nib
local.properties
.loadpath
*.springBeans

# Java class files
*.class


# Maven
target/

## nodeJs
package-lock.json

# compiled output
*/dist
/tmp
/out-tsc

# dependencies
node_modules

# e2e
/e2e/*.js
/e2e/*.map

#vscode.gitignore
.vscode/